<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProvaPrimeiroBim</title>
    <script src="~/lib/FodaoJS.js"></script>

    @RenderSection("scripts", required: false)
    @RenderSection("estilos", required: false)

</head>
<body>
    @RenderBody()
    <hr />
<footer>
    <p>&copy; 2019 - ProvaPrimeiroBim</p>
</footer>
</body>
</html>
